<LinkTo @route="cart" class="cart-link">
  <FaIcon @icon="shopping-cart" />
  <span class="cart-coutn d-inline-flex justify-content-center align-items-center">
    1
  </span>
</LinkTo>

<main class="container mt-5">
  {{yield}}
</main>

