<div class="product-details">
  <section>
    <h3>Beats Solos Wireless Headphones</h3>
    <div class="text-warning">
      <FaIcon @icon="star" />
      <FaIcon @icon="star" />
      <FaIcon @icon="star" />
      <FaIcon @icon="star" />
      <FaIcon @icon="star-half" />
    </div>

    {{!-- Price --}}
    <section>
      <del class="small text-black-50">$199.95</del>
      <i class="text-danger font-weight-bold">$99.98</i>
    </section>

  </section>

</div>