<div class="product-details">
  <section>
    <h3>Beats Solos Wireless Headphones</h3>
    <div class="text-warning">
      <FaIcon @icon="star" />
      <FaIcon @icon="star" />
      <FaIcon @icon="star" />
      <FaIcon @icon="star" />
      <FaIcon @icon="star-half" />
    </div>

    {{!-- Price --}}
    <section>
      <del class="small text-black-50">$199.95</del>
      <i class="text-danger font-weight-bold">$99.98</i>
    </section>

    <div>
      <h5>Colour</h5>
      <div class="product-colors active-{{ @color }}">
        <span class="product-color color-red"
          {{ on "click" (fn @onChangeColor "red") }}></span>
        <span class="product-color color-black"
          {{ on "click" (fn @onChangeColor "black") }}></span>
      </div>
    </div>

  </section>

</div>